RewriteEngine On

# Don't rewrite existing files or folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send all other requests to index.html
RewriteRule ^ index.html [L]