<IfModule mod_headers.c>

    SetEnvIf Origin "^https://(www\.)?techsasi\.com$" AccessControlAllowOrigin=$0
    SetEnvIf Origin "^http://localhost:8080$" AccessControlAllowOrigin=$0

    Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Credentials "true"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ - [R=204,L]

</IfModule>